// http://colllor.com/fbaf40
// http://colllor.com/233140
// http://colllor.com/939597
// http://colllor.com/0b5487  // yellow overrides orange
// http://colllor.com/0000dc // fi blue overrides ksi blue
// function color(name) { let text = ''; for (let i = 1; i < 25; i++) { const color = document.getElementById(`${i}`).textContent; text += '$' + `ksi-${name}-${i * 10}: ${color};\n`; } console.log(text); }; color("orange");

$ksi-orange-10: #0A1005;
$ksi-orange-20: #141F0A;
$ksi-orange-30: #1E2F0F;
$ksi-orange-40: #283E14;
$ksi-orange-50: #324E18;
$ksi-orange-60: #3C5D1D;
$ksi-orange-70: #466D22;
$ksi-orange-80: #507C27;
$ksi-orange-90: #5A8C2C;
$ksi-orange-100: #649B31;
$ksi-orange-110: #6EAB36;
$ksi-orange-120: #78BA3B;
$ksi-orange-130: #7EC23D;
$ksi-orange-140: #8DC954;
$ksi-orange-150: #97CE64;
$ksi-orange-160: #A2D373;
$ksi-orange-170: #ACD883;
$ksi-orange-180: #B6DD92;
$ksi-orange-190: #C1E2A2;
$ksi-orange-200: #CBE7B1;
$ksi-orange-210: #D5EBC1;
$ksi-orange-220: #E0F0D0;
$ksi-orange-230: #EAF5E0;
$ksi-orange-240: #F5FAEF;

$ksi-blue-10: #020C13;
$ksi-blue-20: #031726;
$ksi-blue-30: #052339;
$ksi-blue-40: #062F4B;
$ksi-blue-50: #083A5E;
$ksi-blue-60: #094671;
$ksi-blue-70: #0B5487;
$ksi-blue-80: #0C5D97;
$ksi-blue-90: #0E69AA;
$ksi-blue-100: #0F74BD;
$ksi-blue-110: #1180D0;
$ksi-blue-120: #128CE2;
$ksi-blue-130: #1D96ED;
$ksi-blue-140: #2F9FEE;
$ksi-blue-150: #42A7F0;
$ksi-blue-160: #55B0F1;
$ksi-blue-170: #68B9F3;
$ksi-blue-180: #7BC2F4;
$ksi-blue-190: #8ECAF6;
$ksi-blue-200: #A1D3F7;
$ksi-blue-210: #B4DCF9;
$ksi-blue-220: #C6E5FA;
$ksi-blue-230: #D9EDFC;
$ksi-blue-240: #ECF6FD;

$ksi-gray-10: #0A0A0A;
$ksi-gray-20: #141415;
$ksi-gray-30: #1E1F1F;
$ksi-gray-40: #28292A;
$ksi-gray-50: #323334;
$ksi-gray-60: #3C3D3E;
$ksi-gray-70: #464749;
$ksi-gray-80: #505253;
$ksi-gray-90: #5A5C5E;
$ksi-gray-100: #646668;
$ksi-gray-110: #6E7072;
$ksi-gray-120: #787A7D;
$ksi-gray-130: #828587;
$ksi-gray-140: #8D8F91;
$ksi-gray-150: #939597;
$ksi-gray-160: #A1A3A5;
$ksi-gray-170: #ACADAF;
$ksi-gray-180: #B6B8B9;
$ksi-gray-190: #C1C2C3;
$ksi-gray-200: #CBCCCD;
$ksi-gray-210: #D5D6D7;
$ksi-gray-220: #E0E0E1;
$ksi-gray-230: #EAEBEB;
$ksi-gray-240: #F5F5F5;

$ksi-white: #fff;
$ksi-black: #000;

$ksi-red-100: var(--danger);
$ksi-green-100: var(--success);
$boostrap-primary: var(--primary);
$boostrap-warning: var(--warning);

// used in classic light mode
$ksi-code-builtin-dark: #30a;
$ksi-code-keyword-dark: #708;
$ksi-code-number-dark: #164;
$ksi-code-def-dark: #00f;
$ksi-code-comment-dark: #a50;;
$ksi-code-string-dark: #a11;;
$ksi-code-variable-2-dark: #05a;
$ksi-code-meta-dark: #555;

// used in dark mode
$ksi-code-builtin-light: #9573ff;
$ksi-code-keyword-light: #ed6dff;
$ksi-code-number-light: #70ffae;
$ksi-code-def-light: #46b4ff;
$ksi-code-comment-light: #ffaa55;
$ksi-code-string-light: #ee5a5a;
$ksi-code-variable-2-light: #66baff;
$ksi-code-meta-light: #b2aca2;
